@import url(/css/cabecera/headerPrincipal.css);
 @import url(/css/reset.css);
@import url(/css/menu/button.css); 
@import url(/css/menu/h-contenido.css); 
@import url(/css/menu/menu.css); 
 @import url(/css/barnner/banner-imagen.css);
@import url(/css/barnner/banner.css);
@import url(/css/barnner/banner-titulo.css);
@import url(/css/productos/productosContainer.css);
@import url(/css/menu/item-menu.css);
@import url(/css/main/main.css); 
@import url(/css/footer/footer.css);
:root {
    /* fonts */
    --font-raleway: Raleway;
  
    /* font sizes */
    --font-size-base: 1rem;
    --font-size-lg: 1.13rem;
  
    /* Colors */
    --whiteprodu:#F5F5F5
    
    --azul-100: #2a7ae4;
    --preto-branco: #fff;
    --preto-30: #c8c8c8;
    --preto-50: #a2a2a2;
    --preto-100: #464646;
    --azul-10: #eaf2fd;
  
    /* Gaps */
    --gap-md: 0.25rem;
  
    /* Paddings */
    --padding-sm: 0.75rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;
  
    /* border radiuses */
    --br-md: 4px;
  }
  