    .productoContainer{
        display: flex;
        flex-wrap: wrap;
        background-color: #f01313;
      
        border:#dc0f0f;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
   
        align-items: center;
            
            border-radius:  var( --br-md);
    }
    /* #categoria{
      display: flex;
      flex-direction: row; 
     
     padding: 8px 12px;
     color:azure;
     margin-top :25px;
     gap:20px;
     width: 120px;
     height: 25px;
     
     background: #184A81;
     margin-left: 0px;
     margin-bottom: 5px;
     
     
     
     
     
     } */
   
  
     .productoContainer >.producto {
        background-color: #f1f1f1;
        width: 160px;      

      
        font-size: var(--font-size-base);

        margin-inline-start: 40px;
        margin-block-start: 20px;
        margin-block-end: 20px;

        justify-content:center;
        align-items: center;
       
     
        
       
     
     
      
      }
      .producto  > #imagencard{
        width: 160px;
        height: 200px;
        border-radius: 10px;
        
      }
      .contenedor-producto-titulo{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
      }
      .contenedor-producto-titulop {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */
margin-left: 50px;

/* Preto/100% */

color: #464646;

      }
      .contenedor-producto-titulolink{
        font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

margin-right: 50px;
color: var(--azul-100);
      }
      /* .contenedor-todo-link{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      } */
  
    @media screen  and (max-width: 768px) {
      .productoContainer{
        display: flex;
        flex-wrap: wrap;
        background-color: #dfee0d;
      
         margin: 0;
         margin-top: 10px;
      
   
   
        align-items: center;
            
            border-radius:  var( --br-md);
    
    }
           .producto{
             display: flexbox;
           flex-wrap: wrap;
             margin-block-start: 20px;
             margin-inline-end: 20px;
  
         
             
           
          }
          .productoContainer > .producto {
            background-color: #f1f1f1;
    
            text-align:start;
            line-height: 15px;           
            font-size: var(--font-size-base);
            align-content: center;         
            width: 15%;
            margin-left: ;
                 
          
          }
          .producto  > #imagencard{
            
            height: 180px;
            border-radius: 10px;
            
          }
          
          .con{
            display: block;
          }
        
    }
 