.button{
    background:var(-azul-100);
    color:var(--azul-100);
     font:var(--button);
     padding-inline-start: 24px;
     padding-inline-end: 24px;
     padding-block-start: 13px;
     padding-block-end: 13px ;
     border-radius: 4px;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;
     display: block;

 
     border-color: var(--azul-100);


/* Inside auto layout */ 
     

}
