.menu{
  display:none;
 }
 .menu ul{
     display: flex;
     list-style: none;
     gap: 50px;
 }
  .menu ul {
     text-decoration: none;
     color: var(--white);
     font: var(--button);
     padding: 8px 16px;
     gap: 8px;
     width: 230px;
     height: 25px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
     text-transform: uppercase;
 }
 .menu ul.is-active{
     color: var(--purple);
 }
 @media screen and (min-width:768px){
     .menu{
      display:inline-block;
     }
 
 }