.cabecera{
    margin:auto;
    block-size: 80px;
    position: sticky;
    top:0;
  
    backdrop-filter: blur(25px);
    width: 100%;
}
@media screen and (min-width:0){
    .cabecera{
        justify-content: center;
        padding: 0 1rem;
   
    }
    
}
@media screen and (min-width:768px){
    .cabecera{
        justify-content:flex-end;
        padding: 0 5rem;
    }
    
}